.containerHeader{
    max-width: 100%;
    height: 70px;
    padding: 0 10%;
    display: flex;
    align-items: stretch;
}

.logo, .perfil{
    width: 150px;
}

.logo{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.perfil{
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
}

.itensMenu{
    flex: 1;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.itensMenu a{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    color: #F1F1F1;
}

.itensMenu a:hover{
    color: var(--verde3);
}

button{
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;    
    color: #F1F1F1;
}

button:hover{
    cursor: pointer;
    color: var(--verde3);
}

@media screen and (min-width: 1000px) {
    
}